@model HotelReservation.ViewModels.CustomerViewModel

@{
    ViewBag.Title = "Details";
}

<div class="card" style="margin-top: 20px;">
    <div class="card-body">
        <h2 class="card-title">Details</h2>
        <div>
            <h4>Customer Details</h4>
            <hr />
            <dl class="dl-horizontal">
                <dt>
                    @Html.DisplayNameFor(model => model.FirstName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.FirstName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.LastName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.LastName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.StreetNumber)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.StreetNumber)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.Address)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.Address)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CityName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CityName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.ProvinceName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.ProvinceName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PostalCode)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PostalCode)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.CountryName)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.CountryName)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.PhoneNumber)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.PhoneNumber)
                </dd>

                <dt>
                    @Html.DisplayNameFor(model => model.EmailAddress)
                </dt>

                <dd>
                    @Html.DisplayFor(model => model.EmailAddress)
                </dd>

            </dl>
        </div>
        <p>
            @Html.ActionLink("Edit", "Edit", new { id = Model.CustID }) |
            @Html.ActionLink("Back to List", "Index")
        </p>
    </div>
</div>
